*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family:  'OpenSans-Regular';
}
html,body{
    height: 100%;
}
@font-face {
    font-family:'OpenSans-light' ;
    src: url('../open_sans/static/OpenSans/OpenSans-Light.ttf');
}
.center{
    max-width: 1260px;
    margin:0 auto;
    padding:0 2%;
}
.clear{
    clear: both;
}
/* aqui começa a header */
header{
    min-width: 100%;
    height: 60px;
    background-color: rgb(43, 2, 81);
    
}
header img {
    margin: 19px;
}
/* aqui acaba  header e começa a section banner */
section.banner{
    
    width: 100%;
    background-image: url('../images/header_bg.png');
    background-size:cover ;
    background-position: center;
}
section.banner > .center{
    height: 100%;
}
.banner-section{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    position: relative;
}
/* formulario do banner  */
 .banner-section .form{
    width: 40% ;
    height: 100% ;
    background-color: white;
    border: 8px solid rgba(120,120,120,0.7);
    padding: 10px;
    background-clip: padding-box;
   
}

.form h2{
    font-size: 22px;
    font-weight: normal;
    color: #999999;
}
.input-conteiner{
    margin-top:20px;
    margin-bottom: 20px;
}
.input-conteiner label{
    width: 100%;
    font-size: 20px;
    color: #bbbbbbbb;
    display: inline-block;
}
.input-conteiner input[type=text]{
    width: 100%;
    height: 55px;
    border:solid 1px #bbbbbbbb;
    margin-top: 10px;
}
 .warning{
    width: 100%;
    font-size: 20px;
    color: #bbbbbbbb;
    display: inline-block;
    margin:20px 0px  ;
}
input[type=submit]{
    width: 70%;
    height: 70px;
    background-color:rebeccapurple;
    display: inline-block;
    color: white;
    font-size:30px ;
    margin-top:2px ;
    cursor: pointer;
}
.submit-conteiner{
   text-align: center;
   
}
/* aqui comoça a lista */
.container-list{
    padding: 60px 30px;
    margin-top: 120px;
    max-width: 50%;
    width: 100%;
    height: 270px;
    background-color: rgb(33,35,67,0.7);
}
.container-list ul{
    list-style-position: inside;
}
.container-list li{
    color:white;
    margin: 10px;
}
.section-2{
    background-color: #bfbfbf;
    padding: 40px 0;
    text-align: center;
}
.section-2 h2{
    font-weight: normal;
}
.section-2 p{
    text-align: justify;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 0;
}
.info{
    width: 100%;
    max-width:628px ;
    text-align: center;
    margin: 0 auto;
}
.arrow{
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(../images/arrow.png);
    background-size: 100% 100%;
}
.section-3{
    padding: 90px 0 ;
}
.section-3 h2{
    text-align: center;
    font-weight: normal;
}
.content-section{
    text-align: center;
    margin-top: 60px;
    display: flex;
    
}
 .content{
    width: 33.333%;
    margin: 30px; 
 }
    
 .content img{
     width: 70px;
 }
.content p {
    text-align: justify;
    padding: 2%;
}
.content h2{
    padding-top: 10px
}
.last-section{
    border-top: #999999 solid 7px;
    padding:20px;
    text-align: center;
}
 @media screen and (max-width:900px) {
    .header{
        text-align: center;
    }
    .banner-section{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        max-width: 400px;
        margin: 0 auto;
    }
    section.banner{
        height: auto;
        padding: 0;
    }
    .container-list{
        max-width: 100%;
        width: 100%;
        margin:10px 0;
        
        padding:  60px 10px;
      
    }
    .form{
        text-align: center;
        margin: 10px;
        min-width: 100%;
    }
    
 }
 @media screen and (max-width:768px){
    .content-section{
        flex-direction: column;
        align-items: center;

    }
    .content{
        width: 100%;
    }
 }